* {
    font-size: 10px;
}

.footer-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #181821;
}

footer {
    color: #8C949C;
    width: 1500px;
    max-width: var(100%-16px);
    padding: 68px 0;
    background-color: #181821;
    z-index: 2;
}

.footer-container {
    display: flex;
    justify-content: center;
}

.footer-item {
    width: 16.67%;
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-container *::selection {
    background-color: #f05123;
    color: white;
}

.footer-item-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px
}

.footer-item-title {
    display: block;
    height: inherit;
    font-weight: 700;
    font-size: 1.6rem;
    color: #fff;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
}

.footer-item-contact-list {
    margin: 14px 0;
    font-size: 1.4rem;
    line-height: 2.2rem;
}

.footer-item-contact-list a:link,
.footer-item-contact-list a:visited {
    color: #8C949C;
    font-size: 1.4rem;
    text-decoration: none;
    line-height: 2.2rem;
}

.footer-item-contact-list a:focus,
.footer-item-contact-list a:hover {
    opacity: 0.7;
}

.footer-item-list {
    margin: 10px 0;
    padding: 0;
}

.footer-item-list * {
    font-size: 1.4rem;
    list-style: none;
    margin: 0 0 8px;
}

.footer-item-list *:link,
.footer-item-list *:visited {
    text-decoration: none;
    color: inherit;
    transition-duration: 0.25s;
}

.footer-item-list *:hover,
.footer-item-list *:focus {
    text-decoration: none;
    color: whitesmoke;

}

.footer-final {
    display: flex;
    justify-content: space-between;
    margin: 48px 0 0;
    align-items: center;
}

.footer-copyright {
    font-size: 1.4rem;
    margin: 14px 0;
    display: inline-block;
}

.footer-social-icon {
    width: 28px;
    height: 28px;
}

.footer-social {
    display: inline-flex;
    gap: 10px;
}


.new-feed-btn {
    bottom: 60px;
    left: 22px;
    position: fixed;
    border-radius: 50%;
    z-index: 2;
    padding: 10px;
    background-color: hsla(0, 0%, 94%, .8);
    outline: none;
    border: transparent;
    cursor: pointer;
}

.new-feed-btn:hover {
    background-color: hsla(0, 0%, 94%, 1);
}

.new-feed-btn i {
    font-size: 2.4rem;
}

.new-feed-btn:focus {
    border: transparent;
    outline: none;
}

.new-feed-hover {
    bottom: 120px;
    left: 8px;
    position: fixed;
    font-size: 1.4rem;
    padding: 4px 8px;
    background-color: var(--black-color);
    color: var(--white-color);
    border-radius: 8px;
    display: inline-block;
    opacity: 0;
    transition: all 0.3s linear;
}

.new-feed-btn:hover .new-feed-hover {
    opacity: 1;
}

.modal-dialog {
    min-width: 60vw;

}

.modal-content {
    border-radius: 16px;
}

.modal-header,
.modal-body,
.modal-footer {
    padding-left: 40px;
    padding-top: 20px;
}

.modal-header .modal-title {
    font-size: 2.4rem;
}

.modal-body .modal-title {
    font-size: 1.8rem;
}

.close span {
    font-size: 2.4rem;
}

.close {
    opacity: 0.7;
    margin-right: 10px !important;
}

.close:focus,
.close:hover {
    outline: none;
    opacity: 1 !important;
}

.modal-body .modal-time {
    font-size: 1.3rem;
    color: #999;
    margin: 4px 0 0;
}

.modal-body .modal-container {
    padding-top: 12px;

}

.modal-body .modal-container p {
    font-size: 1.6rem;
}

.author {
    font-size: 1.2rem;
}

.author>a {
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 700;
    color: var(--primary-color) !important;
}

.author>a:hover {
    text-decoration: none;
}