* {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    --height: 44px;
    --icon-size: 20px;

}

.background-img {
    position: relative;
    background-size: auto;
    height: 100vh;
    overflow: hidden;
}

.login-card {
    position: relative;
    display: block;
    width: 640px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 8px;
}

.login-card .login-section {
    position: relative;
    margin: 8px 0 0;
}

.login-card .login-content {
    padding: 48px 16px;
    min-height: 500px;
    position: relative;
}

.login-card .login-logo {
    border-radius: 8px;
    width: 44px;

}

.login-card .login-title {
    font-size: 2.8rem;
    font-weight: 700;
    margin: 20px 0;
    color: #292929;
}

.login-card .login-selections {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    margin-top: 52px;
}

.login-card .login-selections-item:link,
.login-card .login-selections-item:visited {
    position: relative;
    display: block;
    height: calc(var(--height) - 4px);
    width: 320px;
    border: 2px solid #dce0e3;
    border-radius: var(--height);
    text-align: start;
    padding-left: 16px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
}

.login-card .login-selections-item:hover {
    background-color: #dce0e3;
}

.login-card .login-selections-item * {
    font-size: 1.4rem;
    font-weight: 600;
    opacity: 0.8;
}

.login-card .login-selections-item .icon {
    position: absolute;
    display: inline-block;
    width: var(--icon-size);
    margin-left: 16px;
    left: 0;
    width: 18px;
    height: 18px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
}

.login-card .login-selections-item span {
    position: absolute;
    display: inline-block;
    width: calc(100% - var(--icon-size));
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.login-card .phone-login {}

.login-card .login-register {
    margin-top: 40px;
    font-size: 1.4rem;
}

.login-card .login-register a:link,
.login-card .login-register a:visited {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 600;
}

.login-card .login-desc {
    position: relative;
    padding: 12px 132px;
    font-size: 1.1rem;
    opacity: 0.8;
    margin: 0;
}

.login-nav {
    position: relative;
    display: inline-block;
    left: 0;
    transform: translate(0, 40px);
    bottom: 0;
    font-size: 14px;
    word-spacing: 2px;
    color: #fff;
}

.login-nav .login-nav-item:visited,
.login-nav .login-nav-item:link {
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}

/* Phone login */