html {

    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

div {
    display: block;
}

* {
    /* padding: 0;
    margin: 0; */
    font-size: 10px;
    box-sizing: border-box;
    --primary-color: #f05123;
    --black-color: #000;
    --white-color: #fff;
    --gray-color: #666;
    --text-color: #333;
    --plum-color: #b80257;
    --fb-color: #4080ff;
    --mail-color: #f47425;
    --invalid-color: #f33a58;
    --desc-color: #0000008a;
    --first-color: #1dbfaf;
    --second-color: #1dbfaf;
    --button-color: #1dbfaf;
    --button-image: linear-gradient(70.06deg, #2cccff -5%, #22dfbf 106%);
    --font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    --home-slideshow-left-space: 116px;
    --home-section-left-space: 160px;
    --nav-height: 66px;
    caret-color: var(--primary-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*::selection {
    color: white;
    background-color: var(--primary-color);
}

a {
    text-decoration: none;
    color: var(--gray-color);
}

a:hover {
    color: var(--black-color)
}

.row {
    display: block;
    margin-left: -8px;
    margin-right: -8px;
    height: inherit;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
    height: inherit;
}

.col-dou {
    width: 50%;
}

.row-flex {
    display: flex;
    align-items: center;
}

.flex-left {
    justify-content: left;

}

.flex-right {
    justify-content: right;
}

.flex-center {
    justify-content: center;
}

.col-triple {
    width: calc(100%/3 - 1px);
}

.closed {
    display: none
}


.image_xs {
    width: 28px;
    border-radius: 50%;
}

body {
    position: relative;
}

#user-info.open {
    display: block !important;
}

.header {
    padding: 0;
    display: flex;
    height: 66px;
    align-items: center;
    justify-content: space-between;
    margin: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: white;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.header_top {
    display: flex;
    align-items: center;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

.left_item {
    display: block;
    align-items: center;
    margin-left: 16px;
    font-weight: 700;
    font-size: 1.4rem;
}

.center_item {
    height: 37px;
    width: 425px;
    border-radius: 50px;
    border: 2px solid #e8ebed;
    transition: border-color .2s ease-in-out;
}

.image_small {
    height: 40px;
    border-radius: 10px;
}

.image_right {
    height: 20px;
    margin-right: 22px;
}

.top_right {
    display: flex;

}

.right_item {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin-right: 30px;
    font-size: 1, 4rem;
}

.usericon {
    border-radius: 50%;
    height: 30px;
    object-fit: cover;
    cursor: pointer;
}

/* cainaytrongmain */
main {

    overflow: hidden;
}

.menu {
    width: 100px;
    margin-top: 70px;
    display: flex;
    position: fixed;
    z-index: 1;
    height: 100%;
    background-color: transparent;
    justify-content: center;

}

.menu .menu1 {
    border-radius: 50%;
    cursor: pointer;
    margin: 17px;
    background-color: #1473e6;
    height: 44px;
    width: 44px;
    color: white;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    transition: all 0.5s ease;
}

.menu .menu1:hover {
    font-size: 3.2rem;
    transition: all 0.5s ease;
}

.menu .menu2 {
    display: flex;
    flex-direction: column;
    width: 72px;
    height: 72px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 20px;
}

.menu_chinh {
    background-color: #E8EBED;
}

.menu span {
    display: block;
    font-size: 1rem;
    font-weight: 200;
    margin-top: 6px;
}

.menu2:hover {
    background-color: #E8EBED;
}

.menu-active {
    background-color: #e8ebed;
}

/* User infomation */
#user-info {
    text-transform: none;
    display: none;
    min-width: 240px;
    position: absolute;
    z-index: 10;
    right: 5px;
    top: 67px;
    padding: 12px 16px;
    font-size: 1.4rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15), 0 0 3px 3px rgba(0, 0, 0, 0.12), 0 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: flowDown ease 0.5s;

}

#user-info .user-img {
    float: left;
    height: 100%;
}

#user-info .user-txt {
    display: flex;
    width: calc(100%-40px);
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 1.4rem;
    padding-left: 20px;

}

#user-info .user-name {
    font-size: 1.6rem;
}

#user-info .user-desc {
    font-size: 1.4rem;
    opacity: 0.6;
    margin: 0;
}

#user-info .user-heading {
    height: 40px;
}

#user-info .user-container {
    margin-top: 1.6rem;
}

#user-info .user-container-row {
    display: block;
    font-size: 1.4rem;
    padding: 1rem 0;
    opacity: 0.7;
    color: var(--gray-color);
}

#user-info .user-container-row:hover {
    opacity: 0.8;
    text-decoration: none;
}


#user-info .line-break {
    margin: 8px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@keyframes flowDown {
    from {
        top: 30px;
        opacity: 0;
    }

    to {
        top: 67px;
        opacity: 1;
    }
}

::-webkit-scrollbar {
    width: 8px;

}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
    height: 100px;
}

::-webkit-scrollbar-thumb {
    background: #d9d9d9;
    border-radius: 10px;
}