html {

    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

div {
    display: block;
}

* {
    padding: 0;
    margin: 0;
   font-size: 10px;
}

a:focus, a:hover, a:visited {
    outline: none;
    
    
    text-decoration: none;
}
/* .box{
    min-width: 100vh;
} */
a{
    color: black;
    
    text-decoration: none;
}

.header {
    padding: 0;
    display: flex;
    height: 66px;
    align-items: center;
    justify-content: space-between;
    margin: none;
    border-bottom: 1px solid #808990 ;
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: white;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
.header h4{
    color: black;
    font-size: 1.4rem;
}
.header_top {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
   
}

.left_item {
    display: block;
    align-items: center;
    margin-left: 16px;
    text-decoration: none;
    font-size: 1.2rem;
    color: #808990;
}

.left_item a:hover {
    text-decoration: none;
    color: #808990;
}
.header_top1  {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    border: 2px solid #e8ebed;
    
}
.center_item {
    height: 37px;
    width: 425px;
   border: none;
   padding-left: 10px;
    font-size: 1.4rem;
}
.header_top input:hover, input:focus, input:visited{
    outline: none;
    
}

.image_small {
    height: 40px;
    border-radius: 10px;
}

.image_right {
    height: 20px;
    margin-right: 22px;
}

.top_right {
    display: flex;

}

.right_item {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin-right: 30px;
    font-size: 1.4rem;
}

.usericon {
    border-radius: 50%;
    height: 30px;
    object-fit: cover;
}

/* cainaytrongmain */
main {

    overflow: hidden;
}

.menu nav div a {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.menu {
    width: 100px;
    margin-top: 65px;

    display: flex;
    position: fixed;
    z-index: 1;
    height: 400px;
    background-color: white;
    justify-content: center;
   
    
}

.menu .menu1 {
    border-radius: 50%;
    cursor: pointer;
    margin: 17px;
    background-color: #1473e6;
    height: 44px;
    width: 44px;
    color: white;
    font-size: 1.6rem;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}

.menu .menu2 {
    display: flex;
    flex-direction: column;
    width: 72px;
    height: 72px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 20px;
}

.menu_chinh {
    background-color: #E8EBED;
}

.menu span {
    display: block;
    font-size: 1.2rem;
    font-weight: 200;
    margin-top: 6px;
}
.menu2 a{
    color: black;
}
.menu2:hover {
    background-color: #E8EBED;
}
.menu .menu2{
    margin-top: 5px;
}
